@*@model MVCTutorial.Models.EmployeeViewModel*@
@{
    ViewBag.Title = "EmployeeDetail";
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>EmployeeDetail</title>
</head>
<body>
    <h3>EmployeeDetail</h3>
    <iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=m7981oej5miam8qv1ki70n8qls%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=Europe%2FIstanbul" style="border-width:0" width="800" height="1200" frameborder="0" scrolling="no"></iframe>
    <table class="table table-striped">
        <tr>
            <td>EmployeeName</td>
            @*<td>@Model.Name</td>*@
        </tr>
        <tr>
            <td>Address</td>
            @*<td>@Model.Address</td>*@
        </tr>
        <tr>
            <td>Department</td>
            @*<td>@Model.DepartmentName</td>*@

        </tr>
    </table>
    <iframe src="https://calendar.google.com/calendar/embed?src=umit.veysel%40gmail.com&ctz=Europe%2FIstanbul" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MWEwcXBuZ2c2M2FncjB2bTU2Zmw0dm5lc2ogdW1pdC52ZXlzZWxAbQ&amp;tmsrc=umit.veysel%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_tr.gif"></a>
</body>
</html>
